body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    background-image: url(/assets/images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
}

img#chatbox {
    transform: scale(0.2);
    position: absolute;
    border-radius: 20%;
    translate: 1300px -300px;
}

#chatbox:hover {
    cursor: pointer;
}

.money-container {
    position: absolute;
    width: 30vw;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px;
}

.money-rectangle {
    flex: 1;
    height: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: flex-end;
    border: 3px solid #BC13FE;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.banana-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd700;
}

.banana-circle img {
    max-width: 80%;
    max-height: 80%;
}

.slots-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.slot {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 50vmin;
    width: 20vmin;
    align-items: center;
    border: 2px solid #BC13FE;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    background-color: #fff;
    overflow: hidden;
}

.slot img {
    display: flex;
    max-width: 100px; 
    height: auto;
    margin: auto;
}


#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

button#spin {
    padding: 10px 20px; 
    height: 15vmin;
    width: 30vmin;
    font-size: 40px; 
    background-color: #FF7421; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #BC13FE;
}

footer>div#bet-won {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    right: 0px;
    bottom: -28px;
    color: #fff;
    background-color:	#FF7421;
    border: 3px solid #BC13FE;
    border-radius: 10px;
    height: 20vmin;
    width: 30vmin;
}

.bet-won {
    font-size: 40px;
}




