body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url(/assets/images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
}

.slot-sound {
  display: none;
}

img#chatbox {
  transform: scale(0.2);
  position: absolute;
  border-radius: 20%;
  translate: 1300px -300px;
}

#winning-combinations {
  position: fixed;
  bottom: 4vmin;
  font-family: 'Press Start 2P', sans-serif;
  left: 0vmin;
  height: 30vmin;
  width: 55vmin;
  background-color: #FF7421;
  padding: 10px;
  border: 2px solid #BC13FE;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#winning-combinations ul {
  list-style: none;
  padding: 0;
  display: flex;
}

#winning-combinations li {
  display: flex;
  position: relative;
  font-size: 4vmin;
  margin-right: 10px; 
  display: flex; 
  align-items: center; 
}

#winning-combinations li > img {
  max-width: 4vmin;
  height: auto;
  margin-right: 5px;
}

li {
  display: flex;
  flex-direction: row;
}

li>img {
  display: flex;
  max-width: 4vmin;
}

#winning-combinations h3 {
  font-size: 16px;
  margin-bottom: 4vmin;
  text-decoration: underline;
}

#winning-combinations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#winning-combinations li {
  font-size: 14px;
  margin-bottom: 5px;
}


.money-container {
  position: absolute;
  width: 30vw;
  height: 100px;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px;
}

.money-rectangle {
  flex: 1;
  height: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: flex-end;
  border: 3px solid #BC13FE;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}

.banana-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
}

.banana-circle img {
  max-width: 80%;
  max-height: 80%;
}

.slots-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.slot {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 50vmin;
  width: 20vmin;
  align-items: center;
  border: 2px solid #BC13FE;
  border-radius: 10px;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  overflow: hidden;
}

.slot img {
  display: flex;
  max-width: 100px; 
  height: auto;
  margin: auto;
}


#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

button#spin {
  padding: 10px 20px; 
  height: 15vmin;
  width: 30vmin;
  font-size: 40px; 
  font-family: 'Press Start 2P', sans-serif;
  background-color: #FF7421; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #BC13FE;
}

footer>div#goal {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  right: 0px;
  bottom: -28px;
  color: #fff;
  background-color:	#FF7421;
  border: 3px solid #BC13FE;
  border-radius: 10px;
  height: 20vmin;
  width: 50vmin;
}

.goal {
  font-size: 20px;
  font-family: 'Press Start 2P', sans-serif;
}

.congratulations-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/banana_background_pixel.jpg);
  top: 30%;
  right: 29.5%;
  height: 40vmin;
  width: 80.5vmin;
  background-color: #7DF9FF;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(176, 38, 255, 1);
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.level-two-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/banana_background_pixel.jpg);
  top: 30%;
  right: 29.5%;
  height: 40vmin;
  width: 80.5vmin;
  background-color: #7DF9FF;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(176, 38, 255, 1);
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.play-again-button {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 280px;
  left: 252px;
  background-color: #FF7421;
  color: #ffffff;
  border: 3px solid #BC13FE;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-again-button:hover {
  background-color: #0056b3;
}

.funny-button {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 280px;
  left: 60vmin;
  width: 20vmin;
  background-color: #FF7421;
  color: #ffffff;
  border: 3px solid #BC13FE;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.funny-button:hover {
  background-color: #0056b3;
}

.level-two-button {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 280px;
  right: 60vmin;
  width: 20vmin;
  background-color: #FF7421;
  color: #ffffff;
  border: 3px solid #BC13FE;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-two-button:hover {
  background-color: #0056b3;
}

p {
  display: flex;
  font-size: 14px;
  color: #BC13FE;
}

h2 {
  display: flex;
  position: absolute;
  color: #BC13FE;
  top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.blackBox {
background-color: black;
color: white;
padding: 10px;
border: 2px solid white;
border-radius: 5px;
font-family: 'Press Start 2P', sans-serif;
line-height: 1.4;
max-width: 320px;
}

.smooth-transition-link {
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 1078px) {

body {
  height: 100vh;
  width: 100vw;
}

#alt-chatbox {
  display: flex;
  position: absolute;
  align-items: center;
  top: 4vmin;
  right: 8vmin;
  height: 8vmin;
}

  
.money-container {
  position: absolute;
  width: 50vw;
  height: 15vmin;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px;
}

.money-rectangle {
  flex: 1;
  height: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: flex-end;
  border: 3px solid #BC13FE;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
}

.banana-circle {
  width: 14vmin;
  height: 18vmin;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
}

.banana-circle img {
  max-width: 80%;
  max-height: 80%;
}

.slots-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}

div.slot {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 50vmin;
  width: 20vmin;
  align-items: center;
  border: 2px solid #BC13FE;
  border-radius: 10px;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  overflow: hidden;
}

.slot img {
  display: flex;
  max-width: 14vmin; 
  height: auto;
  margin: auto;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

button#spin {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0vmin;
  left: 4vmin;
  transform: translate(-2vmin, 2vmin);
  padding: 10px 20px; 
  height: 15vmin;
  width: 40vmin;
  font-size: 5vmin; 
  font-family: 'Press Start 2P', sans-serif;
  background-color: #FF7421; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid #BC13FE;
}

footer>div#goal {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  right: 0vmin;
  bottom: 0vmin;
  transform: translate(-2vmin, 4vmin);
  color: #fff;
  background-color:	#FF7421;
  border: 3px solid #BC13FE;
  border-radius: 10px;
  height: 20vmin;
  width: 50vmin;
}

.goal {
  font-size: 4vmin;
  font-family: 'Press Start 2P', sans-serif;
}

.button-54 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vmin;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}

}