body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #feefaa;
    min-height: 100vh;
}

h1 {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 30px;
}

.content-box {
    background-color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    font-family: 'Press Start 2P', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.divider {
    border-top: 1px solid black;
    margin: 20px auto;
    width: 80%; 
}

.arrow-link {
    display: inline-block;
    font-size: 50px;
    line-height: 1;
    color: black;
    text-decoration: none;
    transition: transform 0.2s;
    position: absolute;
    top: 20px;
    left: 40px;
}

.arrow-link:hover {
    transform: translateX(-5px);
}

#help-container img {
    max-width: 50px;
}

.winnings-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    font-family: 'Press Start 2P', sans-serif;
    flex-wrap: nowrap;
}

#bananas {
    margin-left: 5px;
    max-width: 20px;
}

.jackpot {
    display: flex;
    position: relative;
    left: 380px;
    width: 50vw;
}

@media (max-width: 1078px) {
    body {
        justify-content: flex-start;
    }

    .arrow-link {
        top: 10px;
        left: 10px; 
    }

    h1 {
        font-size: 4vmin; 
        margin-bottom: 2vmin; 
        width: 80vw;
    }

    .content-box {
        padding: 15px; 
        max-width: 100vw; 
    }

    h2 {
        font-size: 24px; 
        margin-top: 15px; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
        grid-gap: 15px; 
        margin-top: 15px; 
    }

    .grid-item {
        padding: 15px; 
        width: 80vw;
    }

    .divider {
        margin: 15px auto; 
    }

    #help-container img {
        max-width: 40px; 
    }

    .winnings-info {
        font-size: 12px; 
    }

    #bananas {
        margin-left: 3px; 
        max-width: 18px; 
    }

    .jackpot {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        width: 80vw; 
        left: 0; 
        font-size: 18px; 
        height: 20vh;
        flex-wrap: wrap;
        
    }
}
